@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

:root{
    --md-dark-color: #1d1d1d;
    --dark-color:#171717;
    --light-dark-color:#292929;
    --yellow-color:#d4aa11;
    --cyan-color: cyan;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    display: block;
    border-radius: 10px;
}

.wrapper{
    min-height: 100vh;
    background-color: var(--dark-color);
}
.wrapper .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
.search-container{
    /* background-color: var(--md-dark-color); */
    background-image: linear-gradient(69deg, rgb(42, 68, 61), rgb(187, 247, 247));
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo p span{
    color: var(--yellow-color);
}
.search-element{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.search-element h3{
    align-self: center;
    margin-right: 1rem;
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 1.5rem;
    /* font-family: 'Tektur', cursive; */
}
.search-movies-title{
    align-self: center;
    margin-right: 1rem;
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 1.5rem;
    font-family: 'Tektur', cursive;
}
.search-element .form-control{
    padding: 1rem 1rem;
    font-size: 1.4rem;
    border-radius: 15px;
    border: none;
    outline: none;
    color: var(--light-dark-color);
    width: 280px;
}
.custom-search {
    /* padding: 10px; */
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;

  }
  
  .custom-search:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 5px #66afe9;
  }
.search-list{
    position: absolute;
    right: 0;
    top: 100%;
    max-height: 500px;
    overflow-y: scroll;
    z-index: 10;
}
.search-list .search-list-item{
    background-color: var(--light-dark-color);
    padding: 0.5rem;
    border-bottom: 1px solid var(--dark-color);
    width: calc(350px - 8px);
    color: #fff;
    cursor: pointer;
    transition: background-color 200ms ease;
    border-radius: 5px;
    margin: 5px;
}
.search-list .search-list-item:Hover{
    background-color: #1f1f1f;

}
.search-list-item{
    display: flex;
    align-items: center;
}
.search-item-thumbnail img{
    width: 40px;
    margin-right: 1rem;
}
.search-item-info h3{
    font-weight: 600;
    font-size: 1rem;
}
.search-item-info p{
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-weight: 600;
    opacity:0.6;
}

.search-list::-webkit-scrollbar{
    width: 8px;
}
.search-list::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.search-list::-webkit-scrollbar-thumb{
    /* background-color: var(--yellow-color); */
    background-image: linear-gradient(69deg, rgb(42, 68, 61), rgb(187, 247, 247));
    outline: none;
    border-radius: 10px;
}
.hide-search-list{
    display: none;
}
.result-container{
    padding: 3rem 0;
    /* background-image: linear-gradient(95deg, grey, black, grey); */

}
.movie-poster img{
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
}

.movie-poster img:hover{
    transform: translateY(-5px);
    transition: 0.3s;
    -webkit-box-shadow: 10px 9px 0px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 0px -1px rgba(0,0,0,0.75);
    box-shadow: 10px 9px 0px -1px rgba(0,0,0,0.75);
}
.movie-info{
    text-align: center;
    color:#fff;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 10px;
    margin-top: 2rem;
    padding-bottom: 10px;
    /* background-color: rgb(51, 51, 51); */
    background-image: linear-gradient(90deg, rgb(26, 25, 25),rgb(126, 125, 125));
    -webkit-box-shadow: 1px 23px 0px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 23px 0px -14px rgba(0,0,0,0.75);
    box-shadow: 1px 23px 0px -14px rgba(0,0,0,0.75);
    cursor: pointer;
}
.movie-info:hover{
    transition: 0.3s;
    transform: translateY(-10px);
}
.movie-title{
    font-size: 2.5rem;
    /* color: var(--yellow-color); */
    /* color: rgb(154, 223, 188); */
    padding-top: 2rem;
    background: -webkit-linear-gradient(180deg,rgb(4, 92, 92),#01fdfd, #0dd8df);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.movie-misc-info{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.year{
    color: red;
}
.Released{
    color: red;
}

.movie-info .year{
    font-weight: 500;
    margin: 0 0.4rem;
}
.movie-info .Released{
    font-size: 0.9rem;
    opacity: 0.9;
}
.movie-info .language,.Director,.Genre,.imdbRating,.Plot{
    /* color: var(--yellow-color); */
    font-style: italic;
    line-height: 25px;
    background: -webkit-linear-gradient(#06f7f7, #229c98);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

b{
    background: -webkit-linear-gradient(#034646, #0bf36c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 600;
}

@media(max-width: 450px){
    .logo p{
        font-size: 1.4rem;
    }
    .search-element .form-control{
        width: 90%;
        margin: 0 auto;
        padding: 0.5rem 1rem;
    }
    .search-element h3{
        font-size: 1.4rem;
    }
    .search-list{
        width: 90%;
        right: 50%;
        transform: translateX(50%);
    }
    .search-list .search-list-item{
        width: 100%;
    }
    .movie-misc-info{
        flex-direction: column;
    }
    .movie-misc-info li:nth-child(2){
        margin: 0.8rem 0;
    }
    .movie-info{
        margin-top: 10px;
        background-image: none;
    }
}

@media(min-width: 800px){
    .search-element{
        flex-direction: row;
    }
    .search-element h3{
        margin-bottom: 0;
    }
    .result-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .movie-info{
        text-align: left;
        padding-top: 0;
    }
    .movie-info .movie-misc-info{
        justify-content: flex-start;
        padding-left: 0;
    }
    .movie-info .plot{
        margin-left: 0;
    }
    .movie-info .writer{
        padding-left: 0;
        margin-left: 0;
    }
}