@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");

.newspaper {
  border: 7px double #888244b7;
}

.title-container {
  background-color: #f3f1db;
  /* display: flex;
  justify-content: center; */
  text-align: center;
  border: 2px double rgba(0, 0, 0, 0.295);
  border-bottom: 6px double #888244b7;
  font-family: "Playfair Display SC", serif;
}

.title-container #tct {
  font-family: "Playfair Display SC", serif;
  text-shadow: 4px 4px #00000036;
  font-size: 5.2vw;
  margin-bottom: none;
}

#dayAndDate {
  font-family: "Playfair Display SC", serif;
  font-size: 1.4vw;
  display: contents;
}

#heading {
  font-family: "Playfair Display SC", serif;
  font-size: 2.6vw;
  border-bottom: 1px solid black;
}

#para {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

.content-container {
  background-color: #f3f1db;
  font-family: "Times New Roman", Times, serif;
  /* margin-inline: 6vh; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.article {
  margin-inline: 6vh;
  margin: 30px;
  padding: 30px;
  border: 2px ridge rgba(0, 0, 0, 0.295);
  max-width: 500px;
  min-width: 350px;
}

.article img {
  opacity: 0.55;
  display: block;
  margin: 0 auto;
  max-width: 440px;
}

.article-4 {
}

@media screen and (max-width: 700px) {
  .article {
    display: grid;
    margin: 10px;
    padding: 10px;
    max-width: 380px;
    min-width: 300px;
  }
  .article img {
    max-width: 300px;
  }
  .title-container #tct {
    font-size: 10vw;
  }
  .title-container #dayAndDate {
    font-size: 5vw;
  }

  #heading {
    font-size: 8vw;
  }
  #para {
    font-size: 20px;
  }
  #dayAndDate {
    font-size: 5vw;
  }
}

.break {
  background-color: #8882446c;
  border-bottom: 6px double #888244b7;
}

#imphead {
  color: red;
  font-size: 30px;
}

#imptext {
  padding-inline: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  padding: 0;
}

.breakingnews {
  height: 50px;
  overflow: hidden;
  position: relative;
  background: #8882446c;
}

/* Move the first paragraph slower */
.breakingnews p.slow {
  position: absolute;
  width: 100%;
  height: 100%;
  color: rgb(190, 7, 7);
  font-weight: bold;
  margin: 0;
  line-height: 50px;
  font-family: "Times New Roman", Times, serif;
  font-size: 34px;
  text-align: center;

  white-space: nowrap;

  /* Starting position */
  transform: translateX(100%);
  /* Apply animation to this element */
  animation: breakingnews-slow 7s linear infinite;
}

/* Move it (define the animation) */
@keyframes breakingnews-slow {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-115%);
  }
}

/* Move the second paragraph faster */
.breakingnews p.fast {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  white-space: nowrap;

  /* Starting position */
  transform: translateX(100%);
  /* Apply animation to this element */
  animation: breakingnews-fast 8s linear infinite;
}

/* Move it (define the animation) */
@keyframes breakingnews-fast {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-176%);
  }
}

/* footer */
/* Footer Styles for the news page*/
.footer {
  background: #888244f7 !important;
  color: #fff;
  padding: 40px 0;
}

.footer h3 {
  color: #fff;
  font-family: "Playfair Display SC", serif !important;
}

.footer p {
  color: #ccc;
  font-family: "Times New Roman", Times, serif !important;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin-right: 15px;
  font-size: 24px;
  color: whitesmoke;
  transition-timing-function: ease !important;
  transition-property: transform !important;
  transition-duration: 0.3s !important;
  transition-delay: 0s !important;
  transition: transform 0.3s, background-color 0.3s, color 0.3s !important;
}

.social-icons a:hover {
  color: rgb(0, 0, 0) !important;
  transform: scale(1.3) ease !important;
}

hr {
  border-color: #555;
}

/* Make the footer stick to the bottom */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.contact-para {
  font-size: 20px;
}
main {
  flex: 1;
}

/* contact section */
.contact-us {
  color: #888244b7;
  font-weight: 600;
}
