.title-container {
    background-color: #f3f1db;
    border: 1px solid black;
    margin-inline: 6vh;
}





.content-container {
    background-color: #f3f1db;
    margin-inline: 6vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 85vh;


.article {
    margin: 30px;
    padding: 30px;
    border: 1px solid black;
}

.article-2 {
    
}