* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

.navbar-brand {
  color: #fff;
}
.logo {
  color: #fff !important;
}
.navbar-collapse {
  flex-grow: 0 !important;
  align-items: center;
  justify-content: space-around;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  /* background-image: linear-gradient(65deg, grey, grey, black); */
  background-image: linear-gradient(to right, #5a75e6, #8f6ed5);
  /* background-image: none; */
  position: sticky;
}
.navbar-toggler {
  border: none;
}

.navbar h2 {
  margin: 0;
  font-size: 24px;
  color: white;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar ul li {
  margin-left: 15px;
}

.navbar ul li a {
  color: white;
  font-size: larger;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
}

.navbar ul li a:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.navbar ul li a:hover {
  background: -webkit-linear-gradient(85deg, cyan, #87d4e9, cyan, #0f1646);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar ul li a:hover:before {
  transform: scaleX(1);
}

.navbar ul li a:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-linear-gradient(cyan, #87d4e9, cyan);
  transform: scaleX(0);
  transition: transform 0.3s;
}

.navbar ul li a:hover:after {
  transform: scaleX(1);
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: block;
    padding: 10px;
  }

  .navbar h2 {
    margin-bottom: 10px;
  }

  .navbar ul {
    flex-direction: block;
  }

  .navbar ul li {
    margin: 10px 0;
  }

  .navbar ul li a:before,
  .navbar ul li a:after {
    display: none;
  }

  .navbar .menu-toggle {
    display: block;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }

  .navbar .menu-toggle.active {
    color: cyan;
  }

  .navbar .menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: background-color 0.3s;
  }

  .navbar .menu-toggle.active .bar {
    background-color: cyan;
  }

  .navbar .menu-items {
    display: none;
    margin-top: 10px;
  }

  .navbar .menu-items.active {
    display: block;
  }
}

#scrollToTopBtn {
  animation: scrollup 2s ease 5s infinite;
}

@keyframes scrollup {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.main-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
  background: linear-gradient(#2b1055, #7597de);
  min-height: 100vh;
}

/* another parallax */
.second-parallax {
  margin-top: 10px;
  background-color: #000;
  border: 2px solid red;
  height: 100%;
}
.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* .pimg1{
  background-image: url('./Assets/city\ 1.jpg');
  min-height: 100%;
} */

.pimg2 {
  background-image: url("./Assets/city\ 2.jpg");
  min-height: 400px;
}

.pimg3 {
  background-image: url("./Assets/city\ 3.jpg");
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-lighttt {
  background: #f4f4f4;
  color: #666;
}

.section-darkkk {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.transperant {
  background-color: transparent;
  color: #fff;
}

@media (max-width: 768px) {
  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }
}

.parallax-section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.parallax-section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(to top, #1c0522, transparent);
  z-index: 1000;
}
.parallax-section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.parallax-section img #moon {
  mix-blend-mode: screen;
}
#bats {
  position: absolute;
  top: 0;
  left: 50%;
  width: 500px;
  height: 500px;
  transform: translateX(-50%);
  display: none;
  animation-duration: 1s; /* Set the duration of the animation */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes batFlying {
  0% {
    top: 200px;
  } /* Starting position */
  50% {
    top: 150px;
  } /* Midway point - flying up */
  100% {
    top: 200px;
  } /* Ending position - flying down to the initial position */
}
#moon {
  position: absolute;
  top: 0;
  left: 50%;
  width: 300px;
  height: 300px;
  transform: translateX(-50%);
}
.parallax-section img #mountain-front {
  z-index: 10;
}
/* #mountain-back{
  opacity: 50%;
} */

#text {
  position: absolute;
  color: #fff;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
  transform: translateY(150px);
  /* right: -800px; */
}
#btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  color: #2b1055;
  font-size: 1.5em;
  z-index: 9;
  height: 42px;
  transform: translateY(300px);
}
.sec {
  position: relative;
  padding: 100px;
  /* background-color: #1c0522 */
}
.sec h2 {
  font-size: 4.5em;
  margin-bottom: 10px;
}
.sec p {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #fff;
}
