@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Zen+Tokyo+Zoo&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

.navbar-brand {
  color: #fff;
}
.logo {
  color: #fff !important;
}
.navbar-collapse {
  flex-grow: 0 !important;
  align-items: center;
  justify-content: space-around;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  /* background-image: linear-gradient(65deg, grey, grey, black); */
  background-image: linear-gradient(to right, #1c0522, #2a0833);
  /* background-image: none; */
  position: sticky;
}
@media (max-width: 768px) {
  .navbar {
    background-image: linear-gradient(
      149deg,
      #1c0522,
      #2a0833,
      rgb(194, 252, 252)
    );
  }
}
.navbar-toggler {
  border: none;
}

.navbar h2 {
  margin: 0;
  font-size: 20px;
  color: white;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar ul li {
  margin-left: 15px;
}

.navbar ul li a {
  color: white;
  /* font-size: medium; */
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
  font-family: "Comfortaa", cursive;
}
.heading-main {
  /* color: whitesmoke; */
  color: #007bff;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.navbar ul li a:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.navbar ul li a:hover {
  background: -webkit-linear-gradient(85deg, cyan, #87d4e9, cyan, #0f1646);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.list-container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  font-size: 1.2rem;
}

.navbar ul .li a:hover:before {
  transform: scaleX(1);
}
.list-content {
  margin-bottom: 10px;
}
.list-content:before {
  /* content: "\2022"; */
  color: #007bff;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.list-content:hover {
  color: #007bff;
  cursor: pointer;
}
.navbar ul li a:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-linear-gradient(cyan, #87d4e9, cyan);
  transform: scaleX(0);
  transition: transform 0.3s;
}

.navbar ul li a:hover:after {
  transform: scaleX(1);
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: block;
    padding: 10px;
  }

  .navbar h2 {
    margin-bottom: 10px;
  }

  .navbar ul {
    flex-direction: block;
  }

  .navbar ul li {
    margin: 10px 0;
  }

  .navbar ul li a:before,
  .navbar ul li a:after {
    display: none;
  }

  .navbar .menu-toggle {
    display: block;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }

  .navbar .menu-toggle.active {
    color: cyan;
  }

  .navbar .menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: background-color 0.3s;
  }

  .navbar .menu-toggle.active .bar {
    background-color: cyan;
  }

  .navbar .menu-items {
    display: none;
    margin-top: 10px;
  }

  .navbar .menu-items.active {
    display: block;
  }
}

#scrollToTopBtn {
  animation: scrollup 2s ease 5s infinite;
}

@keyframes scrollup {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.main-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
  background: linear-gradient(#2b1055, #7597de);
  min-height: 100vh;
}

/* another parallax */
.second-parallax {
  background-color: #000;
  height: 100%;
}
.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* .pimg1{
  background-image: url('./Assets/city\ 1.jpg');
  min-height: 100%;
} */

.pimg2 {
  /* background-image: url("./Assets/city\ 2.jpg"); */
  background-image: url(./Assets/code\ img.jpg);
  min-height: 400px;
}

.pimg3 {
  background-image: url("./Assets/code\ 2\ img.jpg");
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-lighttt {
  background: #f4f4f4;
  color: #666;
}
.our-aim-heading {
  color: #0355ad;
  font-weight: 600;
}
/* dark section */
.section-darkkk {
  /* background-color: #282e34; */
  background-color: #222;
  padding: 60px 20px;
  color: #ddd;
}
.section-darkkk h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}
.aim-list li {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 15px;
  transition: transform 0.2s ease, color 0.2s ease;
  cursor: pointer;
}
.section-darkkk h2 + .aim-list {
  margin-top: 20px;
}
.aim-list {
  list-style: none;
  padding: 40px;
  margin: 0;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}
.aim-list li:hover {
  transform: scale(1.03);
  color: #ffcc00;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #003375;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.transperant {
  background-color: transparent;
  color: #fff;
  font-weight: 800;
}

@media (max-width: 768px) {
  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }
}

.parallax-section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.parallax-section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(to top, #1c0522, transparent);
  z-index: 1000;
}
.parallax-section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.parallax-section img #moon {
  mix-blend-mode: screen;
}
#bats {
  position: absolute;
  top: 0;
  left: 50%;
  width: 500px;
  height: 500px;
  transform: translateX(-50%);
  display: none;
  animation-duration: 1s; /* Set the duration of the animation */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes batFlying {
  0% {
    top: 200px;
  } /* Starting position */
  50% {
    top: 150px;
  } /* Midway point - flying up */
  100% {
    top: 200px;
  } /* Ending position - flying down to the initial position */
}
#moon {
  position: absolute;
  top: 0;
  left: 50%;
  width: 300px;
  height: 300px;
  transform: translateX(-50%);
}
.parallax-section img #mountain-front {
  z-index: 10;
}
/* #mountain-back{
  opacity: 50%;
} */

#text {
  position: absolute;
  color: #fff;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
  transform: translateY(150px);
  /* font-family: "Rock Salt", cursive; */
  /* font-family: "Vujahday Script", cursive; */
  /* font-family: "Roboto", sans-serif; */
  font-family: "Reem Kufi Fun", sans-serif;
  /* font-family: "Zen Tokyo Zoo", cursive; */
  /* font-family: "Shadows Into Light Two", cursive; */
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  /* right: -800px; */
}
#btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  color: #2b1055;
  font-size: 1.5em;
  z-index: 9;
  height: 42px;
  transform: translateY(300px);
  /* font-family: "Comfortaa", cursive; */
}
#btn:hover {
  transition: 0.5s ease-in-out;
  background-color: #007bff;
}
.sec {
  position: relative;
  padding: 100px;
  /* background-color: #1c0522 */
  background-color: #282e34;
}
.note {
  background-color: #282e34;
  padding: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.4);
}
.sec h2 {
  font-size: 4.5em;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .sec h2 {
    font-size: 1.8em;
  }
  .sec p {
    font-size: 1em;
  }
}
.sec p {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #fff;
}

/* footer */
/* Footer Styles */
.footer {
  background: linear-gradient(to right, #073d94, #073d94, #3fbcff);
  color: #fff;
  padding: 40px 0;
}

.footer h3 {
  color: #fff;
}

.footer p {
  color: #ccc;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin-right: 15px;
  font-size: 24px;
  color: whitesmoke;
  transition: color 0.5s ease-out;
}

.social-icons a:hover {
  color: rgb(250, 52, 250);
  transform: scale(1.3);
}

hr {
  border-color: #555;
}

/* Make the footer stick to the bottom */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.contact-para {
  font-size: 20px;
}
main {
  flex: 1;
}

/* contact section */
.contact-us {
  color: #0355ad;
  font-weight: 600;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta {
  text-decoration: none;
  font-size: larger;
  font-weight: 400;
}
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #0b0bb8;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #26c3d815;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
#map-icon {
  cursor: pointer;
}
#map-icon:hover {
  transition: 0.3s;
  transform: scale(0.9);
}

#secondary-content {
  /* font-family: "Lato", sans-serif; */
  font-family: "Jost", sans-serif;
  font-size: 21px;
}

.main-logo {
  width: 50px;
  border-radius: 50%;
}
.main-logo:hover {
  transition: 0.4s ease;
  transform: scale(1.2) translateY(-2px);
}
