* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-image: linear-gradient(60deg, rgb(47, 46, 46), rgb(41, 40, 40), grey);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
}

.navbar h2 {
  margin: 0;
  font-size: 24px;
  color: white;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar ul li {
  margin-left: 15px;
}

.navbar ul li a {
  color: white;
  font-size: larger;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
}

.navbar ul li a:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.navbar ul li a:hover {
  background: -webkit-linear-gradient(85deg, cyan, #87d4e9, cyan, #0f1646);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar ul li a:hover:before {
  transform: scaleX(1);
}

.navbar ul li a:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-linear-gradient(cyan, #87d4e9, cyan);
  transform: scaleX(0);
  transition: transform 0.3s;
}

.navbar ul li a:hover:after {
  transform: scaleX(1);
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: row;
    padding: 10px;
  }

  .navbar h2 {
    margin-bottom: 10px;
  }

  .navbar ul {
    flex-direction: row;
  }

  .navbar ul li {
    margin: 10px 0;
  }

  .navbar ul li a:before,
  .navbar ul li a:after {
    display: none;
  }

  .navbar .menu-toggle {
    display: block;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }

  .navbar .menu-toggle.active {
    color: cyan;
  }

  .navbar .menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: background-color 0.3s;
  }

  .navbar .menu-toggle.active .bar {
    background-color: cyan;
  }

  .navbar .menu-items {
    display: none;
    margin-top: 10px;
  }

  .navbar .menu-items.active {
    display: block;
  }
}
